VITE_SUPABASE_URL=https://kfsgcftwlsptpcysgchc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtmc2djZnR3bHNwdHBjeXNnY2hjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc2NzQ1ODcsImV4cCI6MjEwMzI1MDU4N30._YtwONIFbQRG4o0GHa0uzf77AYqbgdwWh900wkiAaBc
VITE_API_URL=http://localhost:3001
