PORT=3001
DATABASE_URL=postgres://postgres.your-project-ref:your-password@aws-0-region.pooler.supabase.com:6543/postgres

JWT_SECRET=Tem0Q6gW6DnmjVsp5oBEOCyig+Je9OlfvTdrXTZbfXhnuSCV1a6QsDaokRPbdmg5MqKaPDBo7V1p520JlcPJgQ==
JWT_EXPIRES_IN=24h

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASS=rwsa ajlp nqms bqfs
SMTP_FROM=no-reply@lakshya.example.com

APP_BASE_URL=http://localhost:5173
